DATABASE_URL=postgresql://postgres:1234@localhost/erc_youth_db
SECRET_KEY=superstrongsecretkey

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@example.com
SMTP_PASSWORD='your-passowrd'
FROM_EMAIL=your-email@example.com
SMTP_USE_SSL=false

RESEND_API_KEY=RESEND_API_KEY

# Environment Configuration
ENVIRONMENT=development
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:8000
WEBSOCKET_URL=ws://localhost:8000


